.input{
    width: 100%;
    border:blanchedalmond;
    border-radius: 4px ;
    padding: 10px;
    margin: 5px;
}

.submit{
    align-content:center ;
    font-size: 25px;
    text-align: center;
    border: 2px solid grey;
    border-radius: 4px ;
    width: 100%;

}
.SubmitContainer{
align-content: center;
display:flex ;
position:absolute;
width: 100%;
}
.result1{
    margin: 10px;
    padding: 10px;
}
.result2{
    margin: 10px;
    padding: 10px;
}
.ResultContainer{
    margin-top:25px ;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: honeydew;
}